<div class="weight">
    {{ message }}
  <line-chart></line-chart>
</div>

<div class="stepCount">
    {{ message }}
  <line-chart></line-chart>
</div>

<div class="hoursOfSleep">
    {{ message }}
  <line-chart></line-chart>
</div>