<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Lobster" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/fitness.js"></script>
    <title>FitMe</title>
</head>
<body> 



 <div class="create">
    <div id="navbar">
       <a>FitMe</a>
       <div class="nav">   
          <a href="" id="index">Login</a>
          <a href="" id="index">Home</a>
          <a href="" id="index"index>About</a>
          <a href="" id="index">Contact</a>
       </div>  
    </div> 
 </div>

<div class="track">
    Fitness Tracking Made Fun
</div>
<section class="section">
 <div class="slantedDivA"></div>  
   <div class="center">
      <h1 class="dash">Dashboard</h1>
      <p><input class="text" placeholder="Email or Phone Number" /></p>
      <p><input class="password" placeholder="Password" /></p>
      <p><input type="checkbox" />Forget password</p>
      <button class="btn btn-login">Login with Facebook</button>
      <p><input type="checkbox" />Keep me Logged in</p>
   </div>  
</section>
      
       
<Footer>
  <div class="copy">
    &copyFitMe 2018,
    Amjed Industries,
    Justin Incorporated,
    Andre LLC. 2018
  </div>
</Footer>
</body>
</html>