<h1>Fitness!</h1>

<h2>Tracking Fitness Made Fun!</h2>
<ul>
{{#each runner}}
    <li>
      <p>{{this.id}}. {{this.runner}}</p>
    </li>
{{/each}}    
</ul>
{{!-- <img src="assets/images/InkedRunners_LI.jpg" /> --}}
